WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/appsettings.json
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.deps.json
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.dll
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.exe
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.pdb
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.dev.json
WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.json
WebApplication1/.vs/WebApplication1/config/applicationhost.config
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/apphost.exe
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.CoreCompileInputs.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.FileListAbsolute.txt
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.dll
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.genruntimeconfig.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.MvcApplicationPartsAssemblyInfo.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.pdb
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.RazorTargetAssemblyInfo.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.Manifest.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.xml
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/WebApplication1/obj/project.nuget.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/v16/.suo
